
*{  padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
  }

.tipos{
    padding: 2rem 4%;
    width: 100%;
    background-color: rgb(243, 118, 118);
    h2{
        height: 70px;
        text-align: center;
    }
    .card_publicitario{
        display: flex;
        padding: 50px;
        padding-top: 80px;
        align-items: center;
        justify-content: center;
        .card_publicitaria_container{
            background: rgb(255,85,0);
            background: linear-gradient(90deg, rgba(255,85,0,1) 0%, rgba(140,129,130,1) 15%, rgba(244,230,139,1) 41%, rgba(244,229,139,1) 53%, rgba(237,238,145,1) 69%, rgba(244,229,139,1) 100%);
            .card_container{
                width: 100%;
                padding: 10px;
                font-size: 1.3rem;
            }
        }
    }
    .tipos_container{
        width:100%;
        padding: 1rem 4%;
        height: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
        .card{
            width: 100%;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            box-shadow: 1px 1px 5px rgb(0, 0, 0);
            display: flex;
            align-items: center;
            .card_icono{
                width: 60px;
                height: 70px;
            }
            .card_container{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                padding: 10px;
                font-size: .90rem;
                .card_container_boton{
                    display: flex;
                    .boton {
                        padding: 10px 20px;
                        background-color: #007bff;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                      }
                }

            }  
          }
      }
}

// marcas

.seccionMarcas{
    padding: 5px 30px 30px 30px;
    width: 100%;
    .seccionMarcasTitle{
        background-color: orange;
        padding: 30px;
    }
    .carrusel{
        padding: 0 50px 0 50px;
    }
}

// novedades
.seccionGrillaNovedades{
    background-color: white;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    .gridNovedades{
      background-color: rgb(227, 112, 112);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 400px 400px 400px;
      grid-template-areas:"seccion seccion"
      "seccion1 seccion1"
      "seccion2 seccion2"
      "pie pie";
        .seccion_grid{
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: white;
          border-radius: 5px;
          box-shadow: 1px 1px 5px rgb(0, 0, 0);
          margin: 20px;
            .seccion_grid_text{
              width: 50%;
            }
            .imgNovedades{
              width: 250px;
            }
        }
    }
}

// tienda

.tipos{
  padding: 2rem 4%;
  width: 100%;
  background-color: rgb(243, 118, 118);
  .tipos_container{
    width:100%;
    padding: 1rem 4%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    .card{
      width: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      box-shadow: 1px 1px 5px rgb(0, 0, 0);
      display: flex;
      align-items: center;
      .remera{
        width: 150px;
      }
    }
  }
}


.pie{
  background-color: rgb(247,9,9);
    background: linear-gradient(90deg, rgba(247,9,9,0.4542191876750701) 2%, rgba(237,238,145,0.27494747899159666) 7%, rgba(244,229,139,1) 100%);
}

.seccion_grid{
  background-color: #007bff;
}

.seccion{
    grid-area: seccion;
  }
  .seccion1{
    grid-area: seccion1;
  }
  .seccion2{
    grid-area: seccion2;
  }
  .seccion3{
    grid-area: seccion3;
  }
  .pie{
    grid-area: pie;
  }